

@media only screen and (max-width:1155px) {
    ::-webkit-scrollbar
{
    display:none;
    
}
#preloader
{
    
    background-size: 100%;
 
  
}
#Top-contain
    {
        
        height: 100vh;
       
        
    }
    .navigation
    {
        width: 100%;
        height: 60px;
        display:inline-block;
        position:fixed;
        left:0%;
        top:0% ;
        transform: translate(-0%,-0%);
        background-color: rgb(255, 255, 255);
        z-index: 100;
        box-shadow: 1px 5px 10px 1px rgba(110, 110, 110, 0.233);
    }

    .navigation .logo a
    {
       
        float: left;
        text-align: center;
        display:flex;
        font-size: 1.1em;
        margin: 0px;
        padding: 7px;
        
        
        
    }
    .navigation .nav
{
    width: 100%;
    height: 100vh;
    position:absolute;
    left: 0%;
    top: 0%;
    margin: 0px;
    transform: translate(-0%);
    text-align: center;
    background-color: #ffffff;
   
    
    
    
}
.navigation .nav ul
{
    position:relative;
    top: 15vh;
}
.navigation .nav li a
{
    color: rgb(31, 31, 31);
    font-weight: 900;
    font-size: 1.2em;

}
.navigation .nav li 
{
    display:block;
    margin: 15px;
    margin-left: 35px;
    padding: 10px;
    
   

}
.navigation .menu 
{
    display: block;
}
#nav
{
  position: absolute;
  top: -200vh;
  transition: 1s;
}
#back-menu
{
    display: none;
}

.img-developer .hero_img img
{
    height: 700px;

}
.img-developer .headings .head_write
{

    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
    padding: 20px;
    margin: 30px;
}
.head_write h1
{
    margin: 10px;
    font-size: 2.3em;
    font-weight:  900px;
    letter-spacing: 3px;
    color: rgb(215, 5, 124);
    /* font-family: 'Permanent Marker', cursive; */
}
.head_write p, .head_write h5
{
  margin: 10px;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 3px;
  color: rgb(8, 8, 8);
}


.img-developer .hero_img img
{
    width: 600px;
    max-height: 1500px;
    height: 100%;
    margin-left: 50%;

}
.projects
{
    max-width: 320px;
    width: 100%;
    height: 570px;
    margin: 10px;
    
    
    
}


.projects p
{
    max-width: 300px;
    height: 180px;
    font-size: 0.6rem;
    margin-top: 10px;
    
   
    
    
}
.projects button
{
    width: 80px;
    font-size: 0.6em;
    
}
.Sms_body
{
    width: 340px;
   
    
}
.Sms_body input ,.Sms_body textarea
{
  max-width: 300px;
  margin: 10px 5px;
  
  
 
 

}

.footer p
{
    font-size: 0.6rem;
 

}
}
@media only screen and (max-width:1150px) {
    #Academic_peoject
    {
        grid-template-columns: repeat(2,1fr);
    
    
    }
   
}
@media only screen and (max-width:900px) {
    #Top-contain
    {
        height: 100vh;
       
        
    }
    .img-developer .headings .head_write
{

    position: absolute;
    left: 10%;
    top: 40%;
    transform: translate(-10%,-40%);
    margin: 20px;
}
.img-developer .hero_img img
{
    width: 600px;
    max-height: 1500px;
    height: 100%;
    margin-left: 40%;

}


}

@media only screen and (max-width:650px) {
    #Academic_peoject
    {
        grid-template-columns: repeat(1,1fr);
    
    
    }
    #Top-contain
    {
        height: 100vh;
       
        
    }
}


 @media (min-width: 31em) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }





